<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="iOS Mobile Automation" thread-count="1">
    <test name = "iOS Automation Test Execution">
        <groups>
            <run>
                <include name="Smoke"/>
            </run>
        </groups>
        <packages>
            <package name="testScript.makePurchase"/>
            <package name="testScript.gestures"/>
        </packages>
        <!--<classes>
            <class name="testScript.gestures.PerformSwipe"/>
            <class name="testScript.gestures.PerformPress"/>
            <class name="testScript.gestures.PerformSwipeFromTo"/>
            <class name="testScript.gestures.PerformTap"/>
            <class name="testScript.gestures.webView"/>
        </classes>-->
    </test> <!-- Test -->
</suite> <!-- Suite -->